---
# SSH Konfiguration

- name: Ensure SSH server is installed
  ansible.builtin.package:
    name: "{{ 'openssh' if ansible_distribution == 'Archlinux' else 'openssh-server' }}"
    state: present

- name: Configure sshd_config
  ansible.builtin.lineinfile:
    path: /etc/ssh/sshd_config
    regexp: "{{ item.regexp }}"
    line: "{{ item.line }}"
    state: present
  loop:
    - { regexp: "^#?PasswordAuthentication", line: "PasswordAuthentication {{ 'yes' if ssh_password_auth else 'no' }}" }
    - { regexp: "^#?PubkeyAuthentication", line: "PubkeyAuthentication yes" }
    - { regexp: "^#?ChallengeResponseAuthentication", line: "ChallengeResponseAuthentication no" }
  notify: Restart sshd

- name: Enable and start SSH
  ansible.builtin.systemd:
    name: sshd
    enabled: true
    state: started
