---
# GNOME Desktop Role

- name: Install GNOME (Arch)
  when: ansible_distribution == "Archlinux"
  community.general.pacman:
    name:
      - gnome
      - gnome-tweaks
      - gnome-shell-extensions
      - gdm
      - networkmanager-openvpn
    state: present

- name: Install GNOME (Debian/Ubuntu)
  when: ansible_os_family == "Debian"
  ansible.builtin.apt:
    name:
      - gnome-core
      - gnome-tweaks
      - gnome-shell-extensions
      - gdm3
      - network-manager-openvpn-gnome
    state: present

- name: Install GNOME (Fedora)
  when: ansible_distribution == "Fedora"
  ansible.builtin.dnf:
    name:
      - "@gnome-desktop"
      - gnome-tweaks
      - gnome-extensions-app
      - NetworkManager-openvpn-gnome
    state: present

# Enable GDM
- name: Enable GDM
  ansible.builtin.systemd:
    name: "{{ 'gdm' if ansible_distribution == 'Archlinux' else 'gdm3' if ansible_os_family == 'Debian' else 'gdm' }}"
    enabled: true

# Configure GDM for Wayland
- name: Ensure GDM Wayland is enabled
  when: gnome_wayland
  ansible.builtin.lineinfile:
    path: /etc/gdm/custom.conf
    regexp: "^#?WaylandEnable="
    line: "WaylandEnable=true"
    create: true
    mode: '0644'
  ignore_errors: true

# GNOME Extensions installieren
- name: Install GNOME extensions (Arch)
  when: ansible_distribution == "Archlinux"
  community.general.pacman:
    name:
      - gnome-shell-extension-dash-to-dock
      - gnome-shell-extension-appindicator
    state: present
  ignore_errors: true

# GSConnect Firewall Ports
- name: Open GSConnect TCP ports (UFW)
  when: ansible_os_family == "Debian"
  community.general.ufw:
    rule: allow
    port: "1716:1764"
    proto: tcp
  ignore_errors: true

- name: Open GSConnect UDP ports (UFW)
  when: ansible_os_family == "Debian"
  community.general.ufw:
    rule: allow
    port: "1716:1764"
    proto: udp
  ignore_errors: true

- name: Open GSConnect ports (firewalld)
  when: ansible_distribution == "Fedora"
  ansible.posix.firewalld:
    port: "1716-1764/{{ item }}"
    permanent: true
    state: enabled
    immediate: true
  loop:
    - tcp
    - udp
  ignore_errors: true

# Enable dconf
- name: Install dconf tools
  ansible.builtin.package:
    name: "{{ 'dconf' if ansible_distribution == 'Archlinux' else 'dconf-editor' }}"
    state: present
