---
# Wine Installation

- name: Install Wine (Arch)
  when: ansible_distribution == "Archlinux"
  community.general.pacman:
    name:
      - wine
      - wine-mono
      - wine-gecko
      - winetricks
      - lib32-gnutls
      - lib32-sdl2
    state: present

- name: Install Wine (Debian/Ubuntu)
  when: ansible_os_family == "Debian"
  block:
    - name: Enable i386 architecture
      ansible.builtin.command:
        cmd: dpkg --add-architecture i386
      changed_when: true

    - name: Add WineHQ repository key
      ansible.builtin.apt_key:
        url: https://dl.winehq.org/wine-builds/winehq.key
        state: present

    - name: Add WineHQ repository
      ansible.builtin.apt_repository:
        repo: "deb https://dl.winehq.org/wine-builds/{{ ansible_distribution | lower }}/ {{ ansible_distribution_release }} main"
        state: present

    - name: Install Wine
      ansible.builtin.apt:
        name:
          - winehq-staging
          - winetricks
        state: present
        update_cache: true
      ignore_errors: true

- name: Install Wine (Fedora)
  when: ansible_distribution == "Fedora"
  ansible.builtin.dnf:
    name:
      - wine
      - winetricks
    state: present
