---
# Bluetooth Setup

- name: Install Bluetooth packages (Arch)
  when: ansible_distribution == "Archlinux"
  community.general.pacman:
    name:
      - bluez
      - bluez-utils
      - blueman
    state: present

- name: Install Bluetooth packages (Debian/Ubuntu)
  when: ansible_os_family == "Debian"
  ansible.builtin.apt:
    name:
      - bluez
      - blueman
      - pulseaudio-module-bluetooth
    state: present

- name: Install Bluetooth packages (Fedora)
  when: ansible_distribution == "Fedora"
  ansible.builtin.dnf:
    name:
      - bluez
      - blueman
    state: present

- name: Enable Bluetooth service
  ansible.builtin.systemd:
    name: bluetooth
    enabled: true
    state: started

- name: Configure Bluetooth settings
  ansible.builtin.blockinfile:
    path: /etc/bluetooth/main.conf
    block: |
      [General]
      Enable=Source,Sink,Media,Socket
      Experimental=true
    marker: "# {mark} ANSIBLE MANAGED BLOCK"
  notify: Restart bluetooth

- name: Add user to bluetooth group
  ansible.builtin.user:
    name: "{{ main_user }}"
    groups: ["{{ 'lp' if ansible_os_family == 'Debian' else 'lp' }}"]
    append: true
