---
# Desktop Role - GUI/Workstation Setup

# Display Server / X11
- name: Install X11/Display packages (Arch)
  when: ansible_distribution == "Archlinux"
  community.general.pacman:
    name:
      - xorg-server
      - xorg-xinit
      - xorg-xrandr
      - xdg-utils
      - xdg-user-dirs
    state: present

- name: Install X11/Display packages (Debian/Ubuntu)
  when: ansible_os_family == "Debian"
  ansible.builtin.apt:
    name:
      - xorg
      - xdg-utils
      - xdg-user-dirs
    state: present

- name: Install X11/Display packages (Fedora)
  when: ansible_distribution == "Fedora"
  ansible.builtin.dnf:
    name:
      - "@base-x"
      - xdg-utils
      - xdg-user-dirs
    state: present

# PipeWire Audio
- name: Configure PipeWire audio
  ansible.builtin.include_tasks: pipewire.yml
  when: audio_system == "pipewire"

# Bluetooth
- name: Configure Bluetooth
  ansible.builtin.include_tasks: bluetooth.yml
  when: bluetooth_enabled

# Printing (CUPS)
- name: Configure printing
  ansible.builtin.include_tasks: printing.yml
  when: printing_enabled

# Docker
- name: Configure Docker
  ansible.builtin.include_tasks: docker.yml
  when: docker_enabled

# Libvirt/QEMU
- name: Configure libvirt
  ansible.builtin.include_tasks: libvirt.yml
  when: libvirt_enabled

# Syncthing
- name: Configure Syncthing
  ansible.builtin.include_tasks: syncthing.yml
  when: syncthing_enabled

# Install desktop packages
- name: Install desktop packages (Arch)
  when: ansible_distribution == "Archlinux"
  community.general.pacman:
    name: "{{ desktop_packages_arch }}"
    state: present

- name: Install desktop packages (Debian/Ubuntu)
  when: ansible_os_family == "Debian"
  ansible.builtin.apt:
    name: "{{ desktop_packages_debian }}"
    state: present

- name: Install desktop packages (Fedora)
  when: ansible_distribution == "Fedora"
  ansible.builtin.dnf:
    name: "{{ desktop_packages_fedora }}"
    state: present

# Fonts
- name: Install fonts
  ansible.builtin.include_tasks: fonts.yml

# XDG Portal
- name: Install XDG Portal (Arch)
  when: ansible_distribution == "Archlinux"
  community.general.pacman:
    name:
      - xdg-desktop-portal
      - xdg-desktop-portal-gtk
    state: present

- name: Install XDG Portal (Debian/Ubuntu)
  when: ansible_os_family == "Debian"
  ansible.builtin.apt:
    name:
      - xdg-desktop-portal
      - xdg-desktop-portal-gtk
    state: present

- name: Install XDG Portal (Fedora)
  when: ansible_distribution == "Fedora"
  ansible.builtin.dnf:
    name:
      - xdg-desktop-portal
      - xdg-desktop-portal-gtk
    state: present
